<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Library Test Suite">
            <directory>./tests/lib/Pike</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Pike</directory>
            <exclude>
                <file>./lib/Pike/Version.php</file>
                <file>./lib/Pike/ErrorHandler.php</file>
                <file>./lib/Pike/View/Helper/Language.php</file>
            </exclude>
        </whitelist>
        <blacklist>
<!--            <directory>test</directory>-->
        </blacklist>
    </filter>
</phpunit>
